# Analyse et Mod√©lisation des Prix de V√©hicules
Cr√©er un mod√®le pour pr√©dire le prix d‚Äôun v√©hicule √† partir de caract√©ristiques techniques et visuelles, avec un dataset sale, non structur√© et plein de cha√Ænes de caract√®res mal format√©es.

üîó Dataset :
üëâ https://www.kaggle.com/datasets/CooperUnion/cardataset

## 1. Compr√©hension et audit du dataset
- Charger les donn√©es
- Identifier les types de variables (num√©riques, cat√©gorielles, cha√Ænes)
- Lister les incoh√©rences et valeurs manquantes
- Questions : colonnes utiles, corr√©lations potentielles, doublons/r√©dundances

In [5]:
pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kapna\documents\github\vehicule\.venv\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kapna\documents\github\vehicule\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\kapna\documents\github\vehicule\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install numpy

Collecting numpy
  Downloading numpy-2.2.5-cp313-cp313-win_amd64.whl.metadata (60 kB)
Downloading numpy-2.2.5-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ----------------------- ---------------- 7.3/12.6 MB 35.5 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 31.1 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-2.2.5
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import numpy as np
# Charger le dataset
# df = pd.read_csv('path_to_data.csv')

In [11]:
# Charger le dataset
file_path = r"C:\Users\kapna\Desktop\DIGITAL SCHOOL OF PARIS\PYTHON\mini_projet\data.csv"
df = pd.read_csv(file_path, encoding='utf-8', low_memory=False)
print(df.head())
print(df.info())
print(df.describe(include='all'))

  Make       Model  Year             Engine Fuel Type  Engine HP  \
0  BMW  1 Series M  2011  premium unleaded (required)      335.0
1  BMW    1 Series  2011  premium unleaded (required)      300.0
2  BMW    1 Series  2011  premium unleaded (required)      300.0
3  BMW    1 Series  2011  premium unleaded (required)      230.0
4  BMW    1 Series  2011  premium unleaded (required)      230.0

   Engine Cylinders Transmission Type     Driven_Wheels  Number of Doors  \
0               6.0            MANUAL  rear wheel drive              2.0
1               6.0            MANUAL  rear wheel drive              2.0
2               6.0            MANUAL  rear wheel drive              2.0
3               6.0            MANUAL  rear wheel drive              2.0
4               6.0            MANUAL  rear wheel drive              2.0

                         Market Category Vehicle Size Vehicle Style  \
0  Factory Tuner,Luxury,High-Performance      Compact         Coupe
1                     Luxury,Performance      Compact   Convertible
2                Luxury,High-Performance      Compact         Coupe
3                     Luxury,Performance      Compact         Coupe
4                                 Luxury      Compact   Convertible

   highway MPG  city mpg  Popularity   MSRP
0           26        19        3916  46135
1           28        19        3916  40650
2           28        20        3916  36350
3           28        18        3916  29450
4           28        18        3916  34500
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB
None
             Make           Model          Year  Engine Fuel Type  \
count       11914           11914  11914.000000             11911
unique         48             915           NaN                10
top     Chevrolet  Silverado 1500           NaN  regular unleaded
freq         1123             156           NaN              7172
mean          NaN             NaN   2010.384338               NaN
std           NaN             NaN      7.579740               NaN
min           NaN             NaN   1990.000000               NaN
25%           NaN             NaN   2007.000000               NaN
50%           NaN             NaN   2015.000000               NaN
75%           NaN             NaN   2016.000000               NaN
max           NaN             NaN   2017.000000               NaN

          Engine HP  Engine Cylinders Transmission Type      Driven_Wheels  \
count   11845.00000      11884.000000             11914              11914
unique          NaN               NaN                 5                  4
top             NaN               NaN         AUTOMATIC  front wheel drive
freq            NaN               NaN              8266               4787
mean      249.38607          5.628829               NaN                NaN
std       109.19187          1.780559               NaN                NaN
min        55.00000          0.000000               NaN                NaN
25%       170.00000          4.000000               NaN                NaN
50%       227.00000          6.000000               NaN                NaN
75%       300.00000          6.000000               NaN                NaN
max      1001.00000         16.000000               NaN                NaN

        Number of Doors Market Category Vehicle Size Vehicle Style  \
count      11908.000000            8172        11914         11914
unique              NaN              71            3            16
top                 NaN       Crossover      Compact         Sedan
freq                NaN            1110         4764          3048
mean           3.436093             NaN          NaN           NaN
std            0.881315             NaN          NaN           NaN
min            2.000000             NaN          NaN           NaN
25%            2.000000             NaN          NaN           NaN
50%            4.000000             NaN          NaN           NaN
75%            4.000000             NaN          NaN           NaN
max            4.000000             NaN          NaN           NaN

         highway MPG      city mpg    Popularity          MSRP
count   11914.000000  11914.000000  11914.000000  1.191400e+04
unique           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN
mean       26.637485     19.733255   1554.911197  4.059474e+04
std         8.863001      8.987798   1441.855347  6.010910e+04
min        12.000000      7.000000      2.000000  2.000000e+03
25%        22.000000     16.000000    549.000000  2.100000e+04
50%        26.000000     18.000000   1385.000000  2.999500e+04
75%        30.000000     22.000000   2009.000000  4.223125e+04
max       354.000000    137.000000   5657.000000  2.065902e+06

In [12]:

                 # Identifier types de variables
numeriques = df.select_dtypes(include=['int64', 'float64']).columns
cat√©gorielles = df.select_dtypes(include=['object']).columns
print("Variables num√©riques :", list(numeriques))
print("Variables cat√©gorielles :", list(cat√©gorielles))

Variables num√©riques : ['Year', 'Engine HP', 'Engine Cylinders', 'Number of Doors', 'highway MPG', 'city mpg', 'Popularity', 'MSRP']
Variables cat√©gorielles : ['Make', 'Model', 'Engine Fuel Type', 'Transmission Type', 'Driven_Wheels', 'Market Category', 'Vehicle Size', 'Vehicle Style']

In [15]:
                #identification  Valeurs manquantes
print(df.isnull().sum().sort_values(ascending=False))

Market Category      3742
Engine HP              69
Engine Cylinders       30
Number of Doors         6
Engine Fuel Type        3
Model                   0
Year                    0
Make                    0
Driven_Wheels           0
Transmission Type       0
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [17]:
                #  identificationDoublons
print("Nombre de doublons :", df.duplicated().sum())

Nombre de doublons : 715

In [31]:
# 1. Recherche de doublons
duplicates = df[df.duplicated()]

In [32]:
# 2. Valeurs aberrantes ou incoh√©rentes
#    -> Analyse des distributions pour d√©tecter anomalies
summary_stats = df.describe()

In [33]:
# Rechercher des incoh√©rences sp√©cifiques
# Engine HP < 50 ou > 1000 peut √™tre suspect
hp_outliers = df[(df["Engine HP"] < 50) | (df["Engine HP"] > 1000)]

In [34]:

# Number of Doors : v√©rifier que ce sont bien des valeurs enti√®res et r√©alistes (ex: 2, 4)
door_outliers = df[~df["Number of Doors"].isin([2.0, 3.0, 4.0, 5.0])]

In [27]:

# Engine Cylinders : valeurs possibles g√©n√©ralement entre 3 et 12
cylinder_outliers = df[(df["Engine Cylinders"] < 3) | (df["Engine Cylinders"] > 12)]

In [35]:

# 3. Corr√©lations entre les variables num√©riques
correlations = df.corr(numeric_only=True)

In [30]:

# Affichage des r√©sultats
{
    "nb_duplicated_rows": len(duplicates),
    "hp_outliers_count": len(hp_outliers),
    "door_outliers_count": len(door_outliers),
    "cylinder_outliers_count": len(cylinder_outliers),
    "correlation_matrix": correlations[["MSRP"]].sort_values(by="MSRP", ascending=False)
}

{'nb_duplicated_rows': 715,
 'hp_outliers_count': 3,
 'door_outliers_count': 6,
 'cylinder_outliers_count': 59,
 'correlation_matrix':                       MSRP
 MSRP              1.000000
 Engine HP         0.662008
 Engine Cylinders  0.531312
 Year              0.227590
 Popularity       -0.048476
 Number of Doors  -0.126635
 city mpg         -0.157676
 highway MPG      -0.160043}

oici ce que j'ai trouv√© apr√®s l'analyse du fichier :
 1. Doublons

    715 lignes sont enti√®rement dupliqu√©es dans le dataset.

 2. Valeurs aberrantes / incoh√©rentes

    Engine HP : 3 valeurs sont suspectes (hors de l‚Äôintervalle [50, 1000]).

    Number of Doors : 6 lignes ont un nombre de portes non standard (autre que 2, 3, 4 ou 5).

    Engine Cylinders : 59 valeurs sont en dehors de la plage typique [3, 12].

3. Corr√©lations avec MSRP (prix du v√©hicule)

Les variables les plus corr√©l√©es avec le prix (MSRP) :

    Engine HP : +0.66

    Engine Cylinders : +0.53

    Year : +0.23

Corr√©lations n√©gatives :

    highway MPG, city mpg : environ -0.16

    Popularity : tr√®s faible et l√©g√®rement n√©gative -0.05

 4.  Plusieurs colonnes pr√©sentent des valeurs manquantes :

    Engine Fuel Type : 3 valeurs manquantes

    Engine HP : 69 valeurs manquantes

    Engine Cylinders : 30 valeurs manquantes

    Number of Doors : 6 valeurs manquantes

    Market Category : 3742 valeurs manquantes (beaucoup)

 5. colonnes utiles


    Engine HP, Engine Cylinders, Year, Transmission Type, Driven_Wheels, Vehicle Size, Vehicle Style

In [37]:
     #NOUS ALLONS PROCEDE A UN NETTOYAGE DE DONN2E


# Copie du dataframe original pour le nettoyage
df_cleaned = df.copy()

In [38]:

             # Suptression des DOUBLONS
df_cleaned = df_cleaned.drop_duplicates()

             #Suptression des valeurs aberrantes

df_cleaned = df_cleaned[(df_cleaned["Engine HP"] >= 50) & (df_cleaned["Engine HP"] <= 1000)]


df_cleaned = df_cleaned[(df_cleaned["Engine Cylinders"] >= 3) & (df_cleaned["Engine Cylinders"] <= 12)]


df_cleaned = df_cleaned[df_cleaned["Number of Doors"].isin([2.0, 3.0, 4.0, 5.0])]


df_cleaned["Engine HP"].fillna(df_cleaned["Engine HP"].mean(), inplace=True)


df_cleaned["Engine Cylinders"].fillna(df_cleaned["Engine Cylinders"].median(), inplace=True)

            #NOMBRE DE PORTE
df_cleaned["Number of Doors"].fillna(df_cleaned["Number of Doors"].mode()[0], inplace=True)
df_cleaned["Engine Fuel Type"].fillna("unknown", inplace=True)
df_cleaned["Market Category"].fillna("unknown", inplace=True)

df_cleaned.shape

C:\Users\kapna\AppData\Local\Temp\ipykernel_5320\56012322.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned["Engine HP"].fillna(df_cleaned["Engine HP"].mean(), inplace=True)
C:\Users\kapna\AppData\Local\Temp\ipykernel_5320\56012322.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned["Engine Cylinders"].fillna(df_cleaned["Engine Cylinders"].median(), inplace=True)
C:\Users\kapna\AppData\Local\Temp\ipykernel_5320\56012322.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned["Number of Doors"].fillna(df_cleaned["Number of Doors"].mode()[0], inplace=True)
C:\Users\kapna\AppData\Local\Temp\ipykernel_5320\56012322.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned["Engine Fuel Type"].fillna("unknown", inplace=True)
C:\Users\kapna\AppData\Local\Temp\ipykernel_5320\56012322.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned["Market Category"].fillna("unknown", inplace=True)

(11084, 16)

 LE NETOYAGE EST TERMINE 
 
 RESUME :

    Doublons supprim√©s : 715 lignes

    Valeurs aberrantes supprim√©es : HP, Cylinders, Doors filtr√©s

    Valeurs manquantes imput√©es/remplac√©es :

        Engine HP ‚Üí moyenne

        Engine Cylinders ‚Üí m√©diane

        Number of Doors ‚Üí mode

        Engine Fuel Type, Market Category ‚Üí "unknown"

Taille finale du dataset nettoy√© : 11 084 lignes, 16 colonnes

## 2. Nettoyage avanc√©
- Homog√©n√©iser le format des prix
- Normaliser la cylindr√©e et la puissance
- Corriger les formats de date
- Uniformiser marques et mod√®les
- Questions : unit√©s de puissance, traitement des lignes incoh√©rentes


Exemples de nettoyage :
Prix : convertir "20,000 USD", "23k", "‚Ç¨19.5K" ‚Üí nombre homog√®ne

Cylindr√©e : "2.0L", "2000cc", "120 hp" ‚Üí puissance normalis√©e

Dates : corriger les ann√©es absurdes (ex: fabrication apr√®s la vente)

Marques et mod√®les : uniformiser les noms ("VW", "Volkswagen", "volks wagen")

In [42]:
# Exemple de nettoyage des prix
#df['price_clean'] = df['price'].apply(clean_price)
price = pd.Series([
    "20,000 USD", "23k", "‚Ç¨19.5K", "$15,300", "18.2k", "22000", "‚Ç¨ 24.000", "25 K USD", "¬£21k"
])
print(price)

0    20,000 USD
1           23k
2        ‚Ç¨19.5K
3       $15,300
4         18.2k
5         22000
6      ‚Ç¨ 24.000
7      25 K USD
8          ¬£21k
dtype: object

In [44]:
# nettoyage de prix
import re

def clean_price(value):
    if pd.isnull(value):
        return None
    # Enlever les symboles mon√©taires et lettres inutiles
   # value = str(value).lower().replace(',', '').replace('‚Ç¨', '').replace('$', '').replace('usd', '').replace('¬£', '').strip()
    value = str(value).lower()
    value = value.replace('‚Ç¨', '').replace('$', '').replace('usd', '').replace('¬£', '').strip()
    value = value.replace('.', '') if ',' not in value else value  # pour "24.000"
    value = value.replace(',', '').replace(' ', '')
    
    # Si 'k' pr√©sent, convertir en milliers
    match = re.match(r'(\d+(\.\d+)?)[ ]*k', value)
    if match:
        return round(float(match.group(1)) * 1000)
    
    # Si nombre simple
    try:
        return round(float(value))
    except ValueError:
        return None

# Appliquer au jeu d'exemple
cleaned_price = price.apply(clean_price)
cleaned_price

0     20000
1     23000
2    195000
3     15300
4    182000
5     22000
6     24000
7     25000
8     21000
dtype: int64

## 3. Feature Engineering (cr√©ation de variables)
- Calcul de l'√¢ge du v√©hicule
- Cat√©gorisation du segment (compact, SUV, etc.)
- Encodage des variables cat√©gorielles
- Questions : relation √¢ge/prix, influence du segment


Exemples :
Age du v√©hicule = ann√©e actuelle - ann√©e de fabrication

Segment du v√©hicule (ex: compact, SUV, utilitaire) √† partir du mod√®le

Encodeur ordinal ou one-hot pour les cat√©gories (carburant, bo√Æte auto/manuelle, etc.)

In [ ]:
# Cr√©ation de nouvelles variables
# df['age'] = current_year - df['year']

## 4. Analyse exploratoire (EDA)
- Corr√©lations entre variables num√©riques
- Distribution du prix par segment et type de carburant
- Identification des outliers sur le prix et le kilom√©trage
- Analyse de la distribution des variables (histogrammes, boxplots)
- Analyse des interactions entre variables (scatter matrix)

**Questions √† se poser** :
- Quelles variables num√©riques sont les plus corr√©l√©es avec le prix ?
- Le prix suit-il une relation lin√©aire ou log-lin√©aire avec l'√¢ge, le kilom√©trage et la puissance ?
- Y a-t-il des effets de seuil ou de segments (par exemple SUV vs citadine) sur la distribution des prix ?
- Comment le kilom√©trage impacte-t-il le prix selon l'√¢ge du v√©hicule ?
- Y a-t-il des relations non lin√©aires entre la puissance moteur et le prix ?
- La localisation g√©ographique ou la date d'inscription influence-t-elle significativement le prix ?
- Quels attributs cat√©goriels (carburant, transmission, couleur, nombre de portes) ont un impact sur le prix ?
- Y a-t-il des valeurs aberrantes dans d'autres variables (kilom√©trage, √¢ge) qui pourraient fausser les analyses ?
- Les variables formant des paires montrent-elles des interactions (par exemple √¢ge vs puissance) ?
- Faut-il transformer certaines variables (log, racine carr√©e) pour lin√©ariser leur relation avec le prix ?

In [ ]:
# Visualisations
# import matplotlib.pyplot as plt

## 5. Mod√©lisation (sans scikit-learn)
- R√©gression lin√©aire avec NumPy / statsmodels
- √âvaluation performance sur validation
- Questions : variables importantes, sur-/sous-apprentissage

In [ ]:
# Mod√®le de r√©gression
# import statsmodels.api as sm

## 6. Analyse des erreurs et des r√©sidus
- Distribution des erreurs par segment
- R√©sidus vs prix r√©el
- D√©tection d'outliers non capt√©s

In [ ]:
# Analyse des r√©sidus
# residuals = model.predict(X) - y_true

## 7. Synth√®se des r√©sultats
- Importance des variables
- Exemples de bonnes/mauvaises pr√©dictions
- Limites et pistes d'am√©lioration